# Dependencies
node_modules

# Build outputs
dist/
build/
coverage/

# Environment
.env
.env.*

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Husky internals
.husky/_

# OS junk
.DS_Store
Thumbs.db

/src/generated/prisma
# /prisma/migrations
